<section id="section-airport-details">
  <h2 style="border-bottom-style:solid; border-bottom-color: deepskyblue; border-bottom-width: 3px;">
    {{this.airport.name}}
  </h2>

  <div>
    <div style="float: left">
      <ul>
        <li>Airport CODE </li>
        <li>City name</li>
        <li>City code</li>
      </ul>
    </div>
    <div style="float:left">
      <ul>
        <li>{{this.airport.code}}</li>
        <li>{{this.airport.city.name}}</li>
        <li>{{this.airport.city.code}}</li>
      </ul>
    </div>
  </div>
</section>

